@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .box-session {
    @apply w-full h-full flex flex-col justify-center items-center;
  }
  .content {
    position: absolute;
    left: 20%; 
    top: 0;
    bottom: 0;
    width: 80%; 
  }
  /* Estilo para el radio button personalizado */
  .radio {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: white;
    margin-right: 8px;
    position: relative;
  }

  input[type="radio"]:checked + label .radio {
    background-color: red;
    border-color: red;
  }

  input[type="radio"]:checked + label .radio::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 4px;
    left: 4px;
  }
  /* Estilo para los botones */
  .btn-cancel {
    margin-right: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #e0e0e0;
    color: #333;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
  }

  .btn-cancel:hover {
    background-color: #bdbdbd;
  }

  .btn-download {
    padding: 0.75rem 1.5rem;
    background-color: #d32f2f;
    color: white;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
  }

  .btn-download:hover {
    background-color: #b71c1c;
  }
}